body{
    font-family: sans-serif;
}
img{
    cursor: pointer;
}
a{
    color: #000;
    font-size: 20px;
}
#vysledky{
    border: 2px solid #000;    
    margin-top: 1em;
}
#selected{
    color: #f02c0a;
}